<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2024-06-19T16:11:56Z</date>
				<key>ID</key>
				<string>page9</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>blog4</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/_akira/hacker/automate/circel-sites-vergelijk/jiaogulan-tee-eu/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-06-20T13:33:21Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/9336ba493b778d3778ced901298188b8-0.html</key>
							<dict>
								<key>Digest</key>
								<data>
								yXkkkinyHe1u
								PQqdZxkCdA==
								</data>
								<key>Size</key>
								<integer>5672</integer>
							</dict>
							<key>files/archive-june-2024.html</key>
							<dict>
								<key>Digest</key>
								<data>
								tfCHCcC/AQMB
								Gm6e09wnNw==
								</data>
								<key>Size</key>
								<integer>5944</integer>
							</dict>
							<key>files/feed.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								pRknqwTq1vZA
								5IPFI0zNRw==
								</data>
								<key>Size</key>
								<integer>1317</integer>
							</dict>
							<key>files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								C/CABc1XGX1l
								s8wl3wwCAA==
								</data>
								<key>Size</key>
								<integer>1629</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								qSsn+dHOWUn/
								BapHM8h29w==
								</data>
								<key>Size</key>
								<integer>5555</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page9</string>
						<key>SiteRoot</key>
						<string>mynews3/blog4</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
