<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>HomePage</key>
				<string>01-home</string>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>01-home</string>
				<string>02-home-Copy</string>
				<string>03-home-Copy</string>
				<string>04-Blog-NL</string>
				<string>05-blog-x</string>
				<string>06-2</string>
				<string>07-3</string>
				<string>08-4</string>
				<string>09-5</string>
				<string>10-5</string>
				<string>11-6</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Pages</string>
</dict>
</plist>
