<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Blog X</string>
				<key>CreatedDate</key>
				<date>2024-06-19T16:27:19Z</date>
				<key>ID</key>
				<string>page13</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>blog x</string>
				<key>PluginClassName</key>
				<string>RWHTMLPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>HTML Code</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/_akira/hacker/automate/circel-sites-vergelijk/HeadlinesMagazine-com/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-06-21T04:06:11Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								bwQtqwWBMRQ+
								7FwIfFkSmg==
								</data>
								<key>Size</key>
								<integer>6401</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page13</string>
						<key>SiteRoot</key>
						<string>blogx</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>file:///Users/_akira/hacker/automate/circel-sites-vergelijk/headlinesmagazine-com/</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-06-27T03:52:51Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								PeYg2PqHh/N6
								Tx5gWj9KFQ==
								</data>
								<key>Size</key>
								<integer>24066</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page13</string>
						<key>SiteRoot</key>
						<string>blogx</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
